<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
    <div class="jumbotron">
    <h1>수정 페이지 입니다.</h1>
    <form action="/community/update" method="post">
        <input type="hidden" name="id" value="<%=result.id%>"/>

        <!-- <div>제목 <input type="text" name="title" value = "<%= result.title %>"></div> -->
        <div class="input-group mb-3" style="margin-top: 40px;">
            <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
            <input type="text" name="title" value = "<%= result.title %>" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>


        <!-- <div>내용 <input type="textarea" name="content" value = "<%= result.body %>"></div> -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">내용</span>
            <input type="textarea" name="content" value = "<%= result.body %>" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="height: 300px;">
        </div>

        <div>
            <label for="firstKindU">동아리 종류 선택</label>
            <select id="firstKindU" name="firstKindU" onchange="KindChange(this)">
              <option>선택안함</option>
              <option value="공연/예술/음악">공연/예술/음악</option>
              <option value="봉사">봉사</option>
              <option value="컴퓨터/IT">컴퓨터/IT</option>
            </select>
        </div>

        <!--소분류 select tag-->
        <div>
            <label for="secondKindU">동아리 이름 선택</label>
            <select id="secondKindU" name="secondKindU">
              <option>선택안함</option>
            </select>
        </div>

        <!--js-->
        <script>
            function KindChange(e) {
            var art = ["동아리1"];
            var vol = ["동아리2", "동아리3", "동아리4"];
            var com = ["천안", "세종", "논산"];
            var target = document.getElementById("secondKindU");
            if(e.value == "공연/예술/음악") var d = art;
            else if(e.value == "봉사") var d = vol;
            else if(e.value == "컴퓨터/IT") var d = com;

            target.options.length = 0;
            
            for (x in d) {
                var opt = document.createElement("option");
                opt.value = d[x];
                opt.innerHTML = d[x];
                target.appendChild(opt);
            }   
        }
        </script>

        <!--일주일 활동 투자 시간 select tag-->
        <div>
            <label for="investedTime">일주일 활동 투자 시간</label>
                <select id="investedTime" name="investedTime">
                    <option>선택안함</option>
                    <option value="1-3">1-3</option>
                    <option value="4-6">4-6</option>
                    <option value="7-9">7-9</option>
                    <option value="10이상">10이상</option>
                </select>
        </div>

        <!--평점 select tag-->
            <div>
                <label for="star">동아리 평점</label>
                    <select id="star" name="star">
                        <option>선택안함</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
            </div>
        <button type="submit" class="btn btn-outline-secondary">수정하기</button>

    </form>
</div>
</div>
</body>
</html>