<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
    <div class="jumbotron">
    <!-- <h1>상세 페이지</h1> -->

    <!-- 작성자: <%#= rows.username %> <br>
    제목: <%#= rows.title %> <br>
    내용: <%#= rows.body %> <br>
    동아리 종류: <%#= rows.firstKindU %> <br>
    동아리 이름: <%#= rows.secondKindU %> <br>
    일주일 활동 투자 시간: <%#= rows.investedTime %> <br>
    평점(0-5): <%#= rows.star %> <br> -->

    <div class="card" style="width: 54rem;">
        <div class="card-header">
            제목: <%= rows.title %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">작성자: <%= rows.username %> </li>
          <li class="list-group-item" style="height: 300px;">내용: <%= rows.body %></li>
          <li class="list-group-item">동아리 종류: <%= rows.firstKindU %></li>
          <li class="list-group-item">동아리 이름: <%= rows.secondKindU %></li>
          <li class="list-group-item">일주일 활동 투자 시간: <%= rows.investedTime %></li>
          <li class="list-group-item">평점(0-5): <%= rows.star %></li>
        </ul>
    </div>


    <% if(logged) { %>
        <% if(user.username == rows.username) { %>
            <div type="button" class="btn btn-outline-secondary" style="margin-bottom: 30px; margin-top: 30px;"><a href='/community/edit/<%= rows.id %>'>수정하기</a></div>
            <div type="button" class="btn btn-outline-secondary" style="margin-bottom: 30px; margin-top: 30px;"><a href='/community/delete/<%= rows.id %>'>삭제하기</a></div>
            <!-- <a href='/community/edit/<%#= rows.id %>'>수정하기</a>
            <a href='/community/delete/<%#= rows.id %>'>삭제하기</a> -->
        <% } %>
    <% } %>  

    <!--댓글 작성-->
    <div style="">
    <% if(logged) { %>
        <h5>댓글을 작성해주세요 :)</h5>
        <!-- 해당 community 글 id -->
        <div><input type="hidden" name="board_id" id="board_id" value="<%= rows.id %>"></div> 
        <%#= rows.id %>
        <div>작성자 <input type="hidden" name="username" id="username" value="<%=user.username%>"><%=user.username%></div>
        
        <!-- <div>내용 <input type="textarea" name="text" id="text"></div> -->

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">댓글</span>
            <input type="textarea" name="text" id="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="height: 100px;">
        </div>

        <!-- <button tye="button" id="commentBtn">작성하기</button>  -->
        <button type="button" id="commentBtn" class="btn btn-outline-secondary">작성하기</button>

    <% } %>

    <% if(!logged) { %>  
        <p>로그인 후 댓글을 작성해주세요.</p>
    <% } %>
    </div>

    <!-- 댓글 보여주기 -->
    <div style="margin-top: 30px">
    <h5>작성된 댓글입니다 :)</h5>
    <div class="list-group list-group-flush">
    <% comments.forEach(element => { %>
        <div class="list-group-item" style="">
            <b><p style="margin:0; padding:0"><%= element.username %></p></b>
            <p style="margin:0; padding:0"><%= element.text %></p><!--작성자(username)-->

            <!-- 댓글 삭제하기 -->
            <% if(logged) { %>
                <% if(user.username == element.username) { %>
                  <a href='/community/minus/<%= element.comment_id %>'>삭제하기</a>
                <% } %> 
              <% } %> 
        </div>
    <% }); %> 
    </div>
    </div>

</div>
</div>

<!--script-->
<script src="/script.js"></script>
</body>
</html>

    