<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
    <h1>상세 페이지</h1>
    작성자 <%= rows.username %> <br>
    제목 <%= rows.title %> <br>
    내용 <%= rows.body %> <br>
    firstKindU <%= rows.firstKindU %> <br>
    secondKindU <%= rows.secondKindU %> <br>
    investedTime<%= rows.investedTime %> <br>
    star<%= rows.star %> <br>

    <% if(logged) { %>
        <% if(user.username == rows.username) { %>
            <a href='/community/edit/<%= rows.id %>'>수정하기</a>
            <a href='/community/delete/<%= rows.id %>'>삭제하기</a>
        <% } %>
    <% } %>  

    <!--댓글 작성-->
    <% if(logged) { %>
        <h1>댓글 작성</h1>
        <!-- <div><input type="hidden" name="id" id="id" value="<%#= rows.id %>"></div> -->
        <div>작성자(유저네임) <input type="hidden" name="username" id="username" value="<%=user.username%>"></div>
        <div>내용 <input type="textarea" name="text" id="text"></div>
        <button tye="button" id="commentBtn">작성하기</button> 
    <% } %>

    <% if(!logged) { %>  
        <p>로그인 후 댓글을 작성해주세요.</p>
    <% } %>

</div>

<!--script-->
<script src="/script.js"></script>
</body>
</html>

    