<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
    <h1>상세 페이지</h1>
    작성자 <%= rows.username %> <br>
    제목 <%= rows.title %> <br>
    내용 <%= rows.body %> <br>
    firstKindU <%= rows.firstKindU %> <br>
    secondKindU <%= rows.secondKindU %> <br>
    investedTime<%= rows.investedTime %> <br>
    star<%= rows.star %> <br>

    <% if(logged) { %>
        <% if(user.username == rows.username) { %>
            link will be showed.
            <a href='/community/edit/<%= rows.id %>'>수정하기</a>
            <a href='/community/delete/<%= rows.id %>'>삭제하기</a>
        <% } %>
    <% } %>  
</div>   
</body>
</html>

    