<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron"> <!--jumbotron이라는 class를 사용하였는데, 이는 bootstrap에서 제공하는 컴포넌트입니다.-->
        <% if(!logged) { %>
          <p> 아직 회원이 아니세요? 회원가입하고 서비스를 이용해보세요!</p>
        <% } else { %>
          <label><%=user.username %>님, 환영합니다!</label>
        <% } %>
      </div>
      <h1>Home 페이지</h1>
      
      <div>
      <p>별점이 높은 동아리 후기 보러가기!</p>
        <% rows.forEach(element => { %>
          <div>
            <%= element.secondKindU %>
            <%= element.star %>
          <a href='/community/show/<%= element.id %>'>보러가기</a> 
          </div>
        <% }); %>  
      </div> 
        
      <div>
      <p>모집중인 동아리!</p> 
      <!--아직 모집 중인 동아리가 없다면-->
      <% if(rows2 == null || rows2.length == 0){ %>
        <tr>
          <td> 아직 작성된 모집중인 동아리가 없습니다. </td>
        </tr>
      <% } %>
      <% rows2.forEach(element => { %>
        <div>
          <%= element.secondKindU %>
        </div>
      <% }); %>  
      </div>

    </div>
  </body>
</html>