<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
    <h1>수정 페이지 입니다.</h1>
    <p>파일을 필수로 입력해야 합니다.</p>
    <form action="/posts/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%=result.id%>"/>
        <div>제목 <input type="text" name="title" value = "<%= result.title %>"></div>
        <div>내용 <input type="textarea" name="content" value = "<%= result.body %>"></div>
        <div>파일 <input type="file" id="uploadFile" name="photo" value = "<%= result.photo_url %>" height="500" width="500"> </div>
        <button type="submit">수정하기</button>
    </form>
</div>
</body>
</html>
