<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
    <h1>홍보 게시판</h1>
    <a href='/posts/new'>글 쓰기</a>

    <% if(rows == null || rows.length == 0){ %>
        <tr>
          <td> 아직 작성된 글이 없습니다. </td>
        </tr>
    <% } %>

    <% rows.forEach(element => { %>
        <%= element.title %>
        <%= element.username %> <!--작성자(username)-->
        <a href='/posts/show/<%= element.id %>'>상세보기</a>
    <% }); %> 
</div>
</body>
</html>